body { 
  font-size: 16px;
 }

h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}



h1 {
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Arial;
}

header {
  background-color: #00ffce;
}

ul {
  background-color: aquamarine;
  list-style-type: none;
}

li {
  color: darkblue;
}
li:hover {
  color: red;
  transition: 1s;
}

button {
  background-color: #00ffce;
  text-align: center;
  color: black;
  border-radius: 50%;
  height: 20px;
  width: 100px;
  display: block;
}
